.card{
    position: absolute;
    width: 1036px;
    height: 244px;
    left: 185px;
    top: 719px;
    background: #8D8E8E;
    border-radius: 10px;
}
.headText{
    margin-left: 25px;
}
.textToTranslate{
    margin-left: 20px;
}

.underline{
    width: 979px;
    margin-top: -30px;
    margin-left: 25px;
    border: 3px solid #FFFFFF;
    }

.top{
    display: flex;
    font-size: 32px;
    font-family: 'Love Ya Like A Sister';
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    color: white;

}

.App-logo{
    margin-top: -300px;
    margin-left: 100px;
}